################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProjekatPravi/ProjekatPravi/obj/Debug
/ProjekatPravi/.vs/ProjekatPravi
