################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projekat/Projekat/obj
/Projekat/.vs/Projekat
/.vs
