################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProjekatPravi/ProjekatPravi/obj/Debug
/ProjekatPravi/.vs/ProjekatPravi
/Application/obj
/Domain/obj
/Services/obj
/Application/bin/Debug/net8.0
/Domain/bin/Debug/net8.0
/Services/bin/Debug/net8.0
